:root {
    --header: #94EEDA;
    --hover: #FFE480;
    --titles: #C21A5F;
    --text: #487687;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.login-user {
    /* superior | direita | inferior | esquerda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 30rem 0 30rem;
}


h2 {
    padding: 3rem;
	text-align: center;
	font-size: 1.5rem;
    font-family: 'Roboto slab', serif;
	font-weight: 600;
    color: var(--titles);
}

label {
	text-align: center;
	font-size: .9rem;
    font-family: 'Roboto slab', serif;
	font-weight: 400;
    color: var(--text);
}

.btn {
    border: none;
    font-size: 1rem;
    color:#fff;
    padding: .6rem;
    background-color: #487687;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    margin-top: 1.5rem;
    font-family: 'Roboto slab';
}

.btn:hover {
    background-color: var(--header);
    color:#487687;
    font-weight:600;
    transition: .3s;
}