:root {
    --header: #94eeda;
    --hover: #ffe480;
    --titles: #c21a5f;
    --text: #487687;
  }

.footer-container {
    background-color: var(--header);
    padding: 4rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.footer-container .attributiion {
    text-decoration: none;
    border: 0;
}

.footer-container p {
    color: var(--text);
    font-family: 'Roboto slab', serif;
}

a {
    text-decoration: none;  
    color: var(--text); 
    font-size: .85rem; 
}

a:hover {
    color: var(--titles);
    font-weight: 600;
    transition: 250ms;
}