:root {
    --header: #94EEDA;
    --hover: #FFE480;
    --titles: #C21A5F;
    --text: #487687;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto Slab', serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container header {
    padding: 1.7rem;
    width: 100%;
    min-height: 10vh;
    background-color: var(--header);
}

.logo img {
    max-width: 100%;
    max-height: 5rem;
    cursor: pointer;
    width: auto;
    height: auto;
}

.nav-container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: auto;
    padding: 0 3rem;
}

header .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.links-nav a {
    margin-left: 3rem;
    display: inline-block;

}

a:hover {
    color: var(--titles);
    font-weight: 600;
    transition: .3s;
}

.showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.title h2 {
    font-size: 1.4rem;
    color:#487687;
    font-weight: 600;
}

.title h1 {
    font-size: 2.6rem;
    color: var(--titles);
    font-weight:600;
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0 2.5rem 0;
    line-height: 1.2;
    max-width: 6rem;
}

.bottom {
    padding: 3rem 0 1rem 1rem;
    color:#487687;
}

.btn {
    display: block;
    border: 0;
    font-size: 1.2rem;
    color:#fff;
    padding: 1rem 1rem;
    background-color: #487687;
    border-radius: 1.5rem;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--header);
    color:#487687;
    font-weight:600;
    transition: .3s;
}

@media screen and (max-width: 870px) {
    .showcase .nav-container {
        grid-template-columns: 1fr;
    }
    .image {
        width: 100%;
        transform: none;
    }
}

.form-area  h2 {
    color: var(--titles);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.form-area h3,
.docs h3 {
    color:#487687;
    font-family: 'Roboto slab';
    font-size: 1rem;
    font-weight: 600;
}

label {
    color:#487687;
    font-family: 'Roboto slab';
    font-weight: 400;
    font-size: .9rem;
}
